fastapi
uvicorn
python-multipart
sqlalchemy
alembic
celery
redis
python-doctr[torch]
sentence-transformers
faiss-cpu
scikit-learn
groq
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
transformers
torch
torchvision
torchaudio
shap
numpy
pandas
jinja2
weasyprint
reportlab
